{% include base_path %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% include seo.html %}

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<link rel="stylesheet" href="{{ base_path }}/assets/css/main.css">
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css">

<link rel="icon" href="{{ base_path }}/images/favicon.svg" type="image/svg+xml">
<link rel="icon" href="{{ base_path }}/images/favicon-32x32.png" type="image/png" sizes="32x32">
<link rel="apple-touch-icon" href="{{ base_path }}/images/apple-touch-icon.png">
<meta name="theme-color" content="#1b4f72">
