{% include base_path %}

{% assign seo_url = site.url | append: site.baseurl %}
{% if page.url == "/" %}
  {% assign seo_title = site.title %}
{% else %}
  {% assign seo_title = page.title | append: " " | append: site.title_separator | append: " " | append: site.title %}
{% endif %}
{% assign seo_title = seo_title | strip_html | strip_newlines | escape_once %}
{% assign seo_description = page.description | default: site.description | strip_html | strip_newlines | escape_once %}
{% assign canonical_url = page.url | replace: "/index.html", "/" | prepend: seo_url %}

<title>{{ seo_title }}</title>
<meta name="description" content="{{ seo_description }}">
<meta name="author" content="{{ site.author.name }}">
<link rel="canonical" href="{{ canonical_url }}">

<meta property="og:type" content="website">
<meta property="og:locale" content="{{ site.locale | replace: "-", "_" }}">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:title" content="{{ page.title | default: site.title | strip_html | escape_once }}">
<meta property="og:description" content="{{ seo_description }}">
<meta property="og:url" content="{{ canonical_url }}">
<meta property="og:image" content="{{ site.author.avatar | prepend: "/images/" | prepend: seo_url }}">

{% if page.url == "/" %}
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Person",
    "name": {{ site.author.name | jsonify }},
    "jobTitle": {{ site.author.bio | jsonify }},
    "affiliation": { "@type": "Organization", "name": "Norwegian University of Science and Technology (NTNU)" },
    "url": {{ seo_url | jsonify }},
    "image": {{ site.author.avatar | prepend: "/images/" | prepend: seo_url | jsonify }},
    "sameAs": [
      {{ site.author.uri | jsonify }},
      {{ site.author.googlescholar | jsonify }},
      {{ site.author.orcid | jsonify }},
      {{ site.author.github | prepend: "https://github.com/" | jsonify }}
    ]
  }
</script>
{% endif %}
